!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Barrio Estación San Bernardo
    %link{ rel: 'stylesheet', href:'assets/css/bootstrap.min.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ href:'https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap', rel:'stylesheet' }/
  %body
    .main-rrss.container
      %a{:href=>"index.html"} 
        .main-rrss__logo 
          %img{ :src=> '/assets/img/logo.png', :alt=>''}/
      %ul.main-rrss__list
        %li
          %i.fa.fa-facebook
        %li
          %i.fa.fa-youtube
        %li
          %i.fa.fa-tripadvisor
        %li
          %i.fa.fa-instagram
        %li
          %i.fa.fa-envelope-o

    %section.main-banner
      .main-banner__item
        .mask
          .main-banner__text
            .main-banner__title
              %p 
        .main-banner__img.main-banner__img--short
          %img{ :src => 'assets/img/Barrio03.jpeg' }/
    


    %header#home
      %nav.navbar.navbar-expand-lg
        .container
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo.png' }/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link.active{ :data-toggle => 'offcanvas',   :href => 'index.html', :data-toggle => 'offcanvas'  } Inicio
              %li.nav-item
                %a.nav-link{ :href => '#models', :data-toggle => 'offcanvas', :data-toggle => 'offcanvas' } Comercio
              %li.nav-item
                %a.nav-link{ :href => '#certifications', :data-toggle => 'offcanvas' } Servicios
              %li.nav-item
                %a.nav-link#clients{ :href => '#clients' } Actividades
              %li.nav-item
                %a.nav-link{ :href => 'about.html' } Nosotros
              %li.nav-item
    %section.main-store
      .container.padding-top-bottom
        %h2.main-general__title
          Tiendas
        .points
        .row
          .col-lg-6
          .col-lg-6.col-lg-offset-6
            %form.main-form
              %input.main-form__input{:type=>'text', :placeholder=>'Palabra Clave'}/
              %button.main-form__button{:type=>'submit'}Buscar
        .row
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
          .col-lg-3.item-store
            %a{:href=>'single-store.html'}
              %img{ :src => 'assets/img/store-1.jpg' }/ 
              %p.item-store__title
                Vidriería
    %section.main-clients
      .container.padding-top-bottom
        .main-clients__carousel
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}
          .main-clients__bg
            %img{:src=>'assets/img/logo-farmacia.jpg'}

    %footer
      .colors
        .color-1
        .color-2
        .color-3
        .color-4
        .color-5
        .color-6
      .info-footer.padding-top-bottom 
        %img{:src=>"assets/img/logo.png" }/
        %ul
          %li
            %a{:href=>""} Gastronomia
          %li
            %a{:href=>""} Servicios
          %li
            %a{:href=>""} Vestuario
          %li
            %a{:href=>""} Ubicación
          %li
            %a{:href=>"contact.html"} Contáctenos
        %ul
          %li
            %a{:href=>"about.html"} Sobre el Barrio
          %li
            %a{:href=>"store.html"} Listado de Tiendas
          %li
            %a{:href=>""} Vestuario
          %li
            %a{:href=>""} Ubicación

    .main-powered  
      %ul.main-rrss__list
        %li
          %i.fa.fa-facebook
        %li
          %i.fa.fa-youtube
        %li
          %i.fa.fa-tripadvisor
        %li
          %i.fa.fa-instagram
        %li
          %i.fa.fa-envelope-o
    %script{src: 'assets/js/jquery.min.js' }
    %script{src: 'assets/js/bootstrap.min.js' }
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'assets/js/main.js' }
